<!--
  Generated template for the CasoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" >
    <ion-title>Caso: {{caso.numero}} ({{caso.estado}})
    </ion-title>
   </ion-navbar>
  

</ion-header>


<ion-content padding>
        <div class="main-content" text-wrap text-center>
                <ion-list no-lines>
                        <ion-item>
                                <ion-icon name="information-circle" item-start (click)="abrirMaps(caso.direccion.coordenadas.latitud,caso.direccion.coordenadas.longitud )"></ion-icon>
                                <p >Tipo de caso: {{caso.tipoVisita}}</p>
                                Hora de asignación: {{caso.horaAsignacion}}
                        </ion-item>
                    <hr>
                        <ion-item>
                                <ion-icon name="person" color="primary" item-start (click)="abrirMaps(caso.direccion.coordenadas.latitud,caso.direccion.coordenadas.longitud )"></ion-icon>
                                <p >Afiliado: {{caso.socio.numero}} ({{caso.socio.plan}})</p>
                                {{caso.socio.nombre}} {{caso.socio.apellido}} ({{caso.socio.edad}})
                        </ion-item>
                    <ion-item>
                            <ion-icon name="pin" color="twitter" item-start (click)="abrirMaps(caso.direccion.coordenadas.latitud,caso.direccion.coordenadas.longitud )"></ion-icon>
                            <p>{{caso.direccion.calle}} entre {{caso.direccion.entreCalles}} ({{caso.direccion.barrio}}), {{caso.direccion.ciudad}}</p>
                    </ion-item>
                    <ion-item>
                            <ion-icon name="call" color="primary" item-start (click)="abrirMaps(caso.direccion.coordenadas.latitud,caso.direccion.coordenadas.longitud )"></ion-icon>
                            <p>Teléfono</p>
                            {{caso.socio.telefono}}
                    </ion-item>
                    <ion-item>
                            <ion-icon name="medical" color="light" item-start (click)="abrirMaps(caso.direccion.coordenadas.latitud,caso.direccion.coordenadas.longitud )"></ion-icon>
                            <p>Síntomas</p>
                            {{caso.sintomas}} 
                    </ion-item>

                    <ion-item>
                            <ion-icon name="medkit" color="secondary" item-start (click)="abrirMaps(caso.direccion.coordenadas.latitud,caso.direccion.coordenadas.longitud )"></ion-icon>
                            <p>Marcas del Socio</p>
                            Crónico: {{caso.socio.marcas.cronico}}, Interno: {{caso.socio.marcas.socioInterno}}, PMI: {{caso.socio.marcas.pmi}}
                    </ion-item>
                </ion-list>
                <a button ion-button color="secondary" item-end medium href="##" *ngIf="caso.estado == 'Nuevo'">Rechazar</a>
                <a button ion-button color="primary" item-end medium href="##" *ngIf="caso.estado == 'Nuevo'">Aceptar</a>
                <button ion-button (click)="comoLlegar()" *ngIf="caso.estado == 'Aceptado'" >
                        <i class="material-icons">directions</i>
                        &nbsp;¡Vamos!
                </button>
                <button ion-button (click)="cerrarCaso()" *ngIf="caso.estado == 'Aceptado'" >
                <ion-icon name="checkmark-circle-outline" *ngIf="caso.estado == 'Aceptado'"></ion-icon>        
                <p>&nbsp; Cerrar Caso</p>
               </button>
       </div>

  
</ion-content>
