<ion-header >
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        <ion-badge color="danger" >{{storageService.notificacionesNoLeidas}}</ion-badge>
      </button>
      <ion-title>{{titulo}}</ion-title>       
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content  pullingIcon="arrow-dropdown"
      pullingText="Deslice para actualizar"
      refreshingText="Actualizando..."
      refreshingSpinner="circles"
      ></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item *ngFor="let caso of casos"  (click)="mostrarCaso($event, caso)" >
        <h2>{{caso.numero }} - {{ caso.direccion.calle | uppercase }} ({{caso.direccion.barrio}})</h2>
        <p>Edad: {{ caso.socio.edad }} | Asignado: {{caso.horaAsignacion}}</p>
      </ion-item>
      <ion-item *ngIf="casos.length <= 0">
        {{msgSinCasos}}
      </ion-item>

    </ion-list>
  </ion-content>
  